*{
margin: 0;
padding: 0px;
box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    overflow-x: hidden;
    background: #2e2e2e;
}